<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="MysqlImpl" class="com.adsh.dao.UserDaoMysqlImpl"/>
    <bean id="OracleImpl" class="com.adsh.dao.UserDaoOracleImpl"/>
<!--
ref:引用spring容器中创建好的对象
value:具体的值
-->
    <bean id="UserServiceImpl" class="com.adsh.service.UserServiceImpl">
        <property name="userDao" ref="OracleImpl"/>
    </bean>


</beans>